<b:defaultmarkups>
<b:defaultmarkup type="Blog">

  <!-- # main -->
  <b:includable id="main" var="this">  
    <b:include cond="data:view.isMultipleItems AND data:view.isHomepage" name="homepageView"/>
    <b:include cond="data:view.isMultipleItems AND !data:view.isHomepage" name="multipleItemsView"/>
    <b:include cond="data:view.isSingleItem" name="singleItemView"/>
  </b:includable>

  <b:includable id="homepageView">
    <!-- # multiple items view, # homepage -->
    [h2 'Latest Posts']
    [ .NzE5ODIwMA .d-flex .flex-wrap .gap-quarter
      <b:loop values="data:posts" var="post">
       [ .NzE5ODIyOQ
        <a expr:href="data:post.url">
          <!-- # title -->
          [h3 .NzIwMzM5Mg
            <data:post.title/>
          ]
          [ .void .void-half]
          <!-- # date -->
          [ .NzIwMzAwNw
            <b:eval expr='data:post.date format "MMM d"'/>
          ]
        </a>
       ] 
      </b:loop>
    ]
    <b:include name="post-navigation"/>
  </b:includable>
  
  <b:includable id="multipleItemsView">
    <!-- # search, # archive -->
    [ .NDY4NDcyMjY .d-flex .flex-wrap .gap-quarter
      <b:loop values="data:posts" var="post">
      
        <b:with var='postThumbnailUrl' value='data:post.thumbnailUrl OR data:post.featuredImage ? data:post.featuredImage : ""'>
        
        <div class="wg-Post-v2 NDM4MDg3Mw no---thumbnail no---body">
          <b:class name="no--thumbnail" cond="!data:postThumbnailUrl"/>
          <article>
              <!-- ## post template -->
              <div class="NDQyMDQ5MQ d-flex gap-full justify-content-betweem">
                  <div class="NDQyMDYxNQ">
                      <h2 class="NDM4MDkwNQ">
                          <!-- # title (single) -->
                          <b:if cond="data:view.isSingleItem">
                            <data:post.title/>
                          <b:else/>
                            <a class="NDQxNTM4Mw" expr:href="data:post.url">
                              <data:post.title/>
                            </a>
                          </b:if>
                      </h2>
                      <div class="void void-quarter"></div>
                      
                      <div class="d-flex align-items-center gap-full">
                        <div class="ODAwMjc4OQ">
                          <div class="NDM4MDkwNw">
                            <b:eval expr='data:post.date format "MMMM d, YYYY"'/>
                          </div>
                        </div>
                      </div>
                      
                  </div>
                  <div class="NDQyMDYyMw d-flex align-items-start">
                      <a class="NDQyMjcwMw" expr:href="data:post.url">
                        <!-- # thumbnail (single) -->
                        <img class="NDQyMDY5Nw" expr:src="data:postThumbnailUrl"/>
                      </a>
                  </div>
              </div>
              <div class="NDM4MDkxMQ">
                  <div class="void void-half"></div>
                  <!-- post body -->
                  <div class="NDM4NzU4Mw">
                    <b:eval expr='data:post.body snippet { links: false }'/>
                  </div>
              </div>
              <div class="NDM4OTA0Mg">
                  <div class="void void-2x"></div>
                  <div class="NDM4ODQwNQ d-flex flex-column align-items-end">
                      <!-- ## post separator -->
                      <div class="NDM5NjYwMQ"></div>
                      <div class="NDM4ODQzNQ"></div>
                  </div>
                  <div class="void void-2x"></div>
              </div>
          </article>
        </div>
        
        </b:with>
        
      </b:loop>
    ]
    <b:include name="post-navigation"/>
  </b:includable>
  
  <b:includable id="singleItemView">
    <!-- # single item view, # post -->
    <b:loop values="data:posts" var="post">

      <article>
      <div class="wg-Post NDM4MDg3Mw no---thumbnail no---body">
          <!-- ## post template -->
          <!-- # edit link -->
          [ .edit-link
            [ .item-control .blog-admin
                <b:if cond='data:view.isPage'>
                  [a expr:href='"https://www.blogger.com/blog/page/edit/" + data:blog.blogId + "/" + data:post.id' "Edit this post"]
                <b:else/>
                  [a expr:href='"https://www.blogger.com/blog/post/edit/" + data:blog.blogId + "/" + data:post.id' "Edit this post"]
                </b:if>
            ]
          ]
          <div class="NDQyMDQ5MQ d-flex gap-full justify-content-betweem">
              <div class="NDQyMDYxNQ">
                  <h2 class="NDM4MDkwNQ">
                      <!-- # title (single) -->
                      <b:if cond="data:view.isSingleItem">
                        <data:post.title/>
                      <b:else/>
                        <a class="NDQxNTM4Mw" expr:href="data:post.url">
                          <data:post.title/>
                        </a>
                      </b:if>
                  </h2>
                  <div class="void void-quarter"></div>
                  
                  <div class="wgAuthorInfo d-flex align-items-center gap-full">
                    <!-- # author, # photo -->
                    <b:with var="imgUrl" value='data:post.author.authorPhoto.image ? data:post.author.authorPhoto.image resizeImage 42 : "https://1.bp.blogspot.com/-lPlOFsFZhiw/YYK3sfYZfSI/AAAAAAAAQ5I/7_x9OpHG6UsXlWtRxuyjCx2SYO6gr_l-ACLcBGAsYHQ/s192-c-rw/2021-11-03%2B23_23_36-Untitled%2B%25282%2529%2B-%2BWindows%2BPhoto%2BViewer.png"'>
                      <b:tag name="a" cond="data:post.author.profileUrl" class="d-flex" expr:href="data:post.author.profileUrl">
                        <img expr:src="data:imgUrl"/>
                      </b:tag>
                    </b:with>
                    <div class="ODAwMjc4OQ">
                      <!-- author name -->
                      <b:tag name="a" cond="data:post.author.profileUrl" class="NzI0NTIxOA" expr:href="data:post.author.profileUrl">
                        [s
                          <data:post.author.name/>
                        ]
                      </b:tag>
                      <!-- # date (single) -->
                      <div class="NDM4MDkwNw">
                        <b:eval expr='data:post.date format "MMM d"'/>
                      </div>
                    </div>
                  </div>
                  
              </div>
              <div class="NDQyMDYyMw d-flex align-items-start">
                  <a class="NDQyMjcwMw" expr:href="data:post.url">
                      <!-- # thumbnail (single) -->
                      <b:with var='postThumbnailUrl' value = 'data:post.thumbnailUrl OR data:post.featuredImage ? data:post.featuredImage : ""'>
                          <img class="NDQyMDY5Nw" expr:src="data:postThumbnailUrl"/>
                      </b:with>
                  </a>
              </div>
          </div>
          <div class="NDM4MDkxMQ">
              <div class="void void-2x"></div>
              <!-- post body -->
              <div class="NDM4NzU4Mw">
                <b:eval expr='data:post.body'/>
              </div>
              <div class="void void-2x"></div>
          </div>
          <div class="NDM4OTA0Mg">
              <div class="void void-2x"></div>
              <div class="NDM4ODQwNQ d-flex flex-column align-items-end">
                  <!-- ## post separator -->
                  <div class="NDM5NjYwMQ"></div>
                  <div class="NDM4ODQzNQ"></div>
              </div>
              <div class="void void-2x"></div>
          </div>
      </div>
      </article>

      <b:include name='post-navigation'/>
      [ .void .void-2x]

      [ .wg-CommentThread
        <b:include name="commentPicker" data="post"/>
      ]
      
    </b:loop>  

  </b:includable>

  <b:includable id='post-navigation'>
    <!-- # navigation -->
    [ .void .void-2x]
    [ .wg-PostNavigation .d-flex .justify-content-between
        [
          <b:if cond="data:newerPageUrl"> 
            [a 'Newer posts' expr:href="data:newerPageUrl"]
          <b:else/>
            [s .MTIwNDY0OTA 'Newer posts']
          </b:if>
        ]
        [ .text-center
          [a 'Home' expr:href="data:blog.homepageUrl"]
        ]
        [
          <b:if cond="data:olderPageUrl">
            [a 'Older posts' expr:href="data:olderPageUrl"]
          <b:else/>
            [s .MTIwNDY0OTA 'Older posts']
          </b:if>
        ]
    ]
    
  </b:includable>
    
</b:defaultmarkup>
</b:defaultmarkups>