<b:defaultmarkups><b:defaultmarkup type="PageList">

    <b:includable id="main" var="this">  
        
      <div class="wg-NavLink NDQwMTQ2Ng">
          <div class="void void-1x"></div>
          <div class="NDQwOTUyMg">
            <ul class="gap-full">
              <b:loop values="data:links" var="link">
                <li class="NDM5OTE4OQ">
                    <a expr:href="data:link.href">
                      <data:link.title/>
                    </a>
                </li>
              </b:loop>
            </ul>
          </div>
          <div class="void void-1x"></div>
      </div>

    </b:includable>
    
</b:defaultmarkup></b:defaultmarkups>